*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 34%;
    height: 34%;
    border: 1px solid white;
    border-radius: 34px;
}
.navbar{
    display: flex; 
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    cursor: pointer;

}
.nav-list{
    width: 50%;
   
    display: flex;
    align-items: center;
}
.nav-list li{ 
    list-style: none; padding: 16px;
    font-size: 20px;
}
.nav-list li a{
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(233, 227, 227) ;}
.nav-list li a:hover{
    color: dimgrey;
    border-color:  dimgray;

}
.rightNav{
    width: 50%;
    text-align: right;
padding: 0 23px;   
}
#search{
    padding: 3px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 8px;
}
.background{
    background: rgba(0, 0, 0, 0.7)  url("photo-1486406146926-c627a92ad1ab.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}     
.box-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-emphasis-color: white;
    margin: auto;
    max-width: 50%;
}
.firstsection{
    height: 100vh;
    display: flex;

}
.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 80%;
    border-radius: 450px;
    border: 4px solid rgb(148, 144, 144);
    display: block;
    margin: auto;

}
.text-big{
font-size: 30px;  

}
.text-small{
    font-size: 14px;
}
.btn{
    border: 2px solid white ;
    margin: 7px 3px ;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 14px;
    background: none;
    color: rgb(248, 248, 248);
    cursor: pointer;
}
.btn:hover {
    color:grey; 
    border-color:grey ;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle ;
}
.section{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    
}
.thumbnail img{
    border: 2px black solid;
    border-radius: 25px;
    width: 350px;
}
.section-left{
       flex-direction: row-reverse;
}
.thumbnail1 img{
    border: 1px black solid;
    border-radius: 25px;
    width: 350px;
    margin: 8px;
    padding: 8px;
}
.contact{
    background-color: rgb(243, 243, 243);
    height: 833px;
}
.text-center{
    text-align: center;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.form{
    width: 800px;
    margin: 42px auto;
    
}
.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey  ;
    border-radius: 6px;
}
.btn-dark{
    color:  rgb(70, 22, 22);
    border-color:  rgb(70, 22, 22);

}
.btn-dark:hover{
    color: rgb(255, 8, 0);
    border-color: rgb(255, 13, 13);;

}
.footer{
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: right;
    color: white;
    background-color: rgb(41, 40, 40);
}